/* General Reset */
* {
  box-sizing: border-box;
}

body {
  --background-color: #f2f8fc;
  --text-color: black;
  --element-color: white;
  margin: 0;
  font-family: Nunito, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}

body.dark {
  --background-color: hsl(207, 26%, 17%);
  --text-color: white;
  --element-color: hsl(209, 23%, 22%);
}

.mode-switch {
  cursor: pointer;
  background-color: var(--background-color);
  padding: 8px;
  border-radius: 4px;
}

/* Back Button */
.back-button {
  padding: 8px 24px;
  box-shadow: 0 0px 4px 0px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  cursor: pointer;
  background-color: var(--element-color);
}

/* Country Details */
.country-details-container {
  max-width: 1200px;
  margin-inline: auto;
  margin-top: 32px;
}

.country-details {
  display: flex;
  align-items: center;
  gap: 64px;
  margin-top: 64px;
}

.country-details img {
  width: 40%;
  box-shadow: 0 0 16px 0px rgba(0, 0, 0, 0.2);

}

.details-text {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  column-gap: 64px;
  max-height: 180px;
  flex-wrap: wrap;
}

.details-text p {
  margin: 0;
}

.border-countries {
  margin-top: 48px;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 8px;
}

.border-countries a {
  padding: 4px 16px;
  box-shadow: 0 0px 4px 0px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  font-size: 14px;
}

/* Responsive Design */
@media (max-width: 768px) {
  .country-details {
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }
  .country-details img {
    width: 80%;
    max-width: 300px;
  }
  .details-text {
    width: 100%;
    text-align: center;
  }
}

