* {
  box-sizing: border-box;
}

/* Root Variables for Light and Dark Mode */
body {
  --background-color: #f2f8fc;
  --text-color: black;
  --element-color: white;
  margin: 0;
  font-family: Nunito, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}

body.dark {
  --background-color: hsl(207, 26%, 17%);
  --text-color: white;
  --element-color: hsl(209, 23%, 22%);
}

/* Mode Switch */
.mode-switch {
  cursor: pointer;
  background-color: var(--background-color);
  padding: 8px;
  border-radius: 4px;
}

/* Main Content */
main {
  padding: 24px;
}

/* Links */
a {
  text-decoration-line: none;
  color: inherit;
}

/* Header */
.header-container {
  box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.1);
  padding-inline: 24px;
  background-color: var(--element-color);
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin-inline: auto;
}

.title {
  font-weight: 800;
}

/* Countries Container */
.countries-container {
  max-width: 1200px;
  margin-inline: auto;
  margin-top: 16px;
  display: flex;
  gap: 64px;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Country Card */
.country-card {
  display: inline-block;
  width: 250px;
  border-radius: 8px;
  overflow: hidden;
  padding-bottom: 24px;
  box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-in-out;
  background-color: var(--element-color);
}

.country-card:hover {
  transform: scale(1.03);
  box-shadow: 0 0 16px 0px rgba(0, 0, 0, 0.2);
}

.card-title {
  font-size: 24px;
  margin-block: 16px;
}

.card-text {
  padding-inline: 16px;
}

.card-text p {
  margin-block: 8px;
}

.country-card img {
  width: 100%;
  box-shadow: 0 0 16px 0px rgba(0, 0, 0, 0.2);
}

/* Search and Filter */
.search-filter-container {
  max-width: 1200px;
  margin-inline: auto;
  margin-top: 16px;
  margin-bottom: 48px;
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.search-container {
  box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.15);
  max-width: 350px;
  width: 100%;
  border-radius: 4px;
  padding-left: 24px;
  overflow: hidden;
  background-color: var(--element-color);
}

.search-container input {
  outline: none;
  border: none;
  padding: 16px;
  width: 90%;
  font-size: 1rem;
  font-family: Nunito, sans-serif;
  background-color: inherit;
  color: inherit;
}

.search-container input::placeholder,
.search-container i {
  color: var(--text-color);
}

.filter-by-region {
  font-family: Nunito, sans-serif;
  font-size: 1rem;
  width: 200px;
  padding: 16px;
  border-radius: 4px;
  box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.15);
  border: none;
  background-color: var(--element-color);
  color: var(--text-color);
}

/* Responsive Design */
@media (max-width: 768px) {
  .countries-container {
    justify-content: center;
  }

  .title {
    font-size: 16px;
  }

  .header-content p {
    font-size: 12px;
  }

  .search-filter-container {
    flex-direction: column;
    gap: 16px;
  }
  .search-container, .filter-by-region {
    width: 100%;
    max-width: 100%;
  }

}
